.footer{
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: transparent;
}


.container{
    margin: 0 auto;
    max-width: 1200px;
    
}
.footerHeader{
    padding-bottom: 40px;
    text-transform:uppercase ;
    color: #000;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.footerHeader hr{
    width: 100px;
    height: 0px;
    border: 2px solid #000;
}
.footerItems{
    display: flex;
    justify-content: center;
}

.footerItem{
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 15px;
    margin-bottom: 40px;
    width: 300px;
    min-height: 200px;
    color: #777;

}

.footerItem h3 {
    color: #000;
}

.social{

} 


.socialLink {
    color: #fff;
    background-color:#000;
    border: 2px solid #000;
    width: 100%;
    height: 30px;
    max-width: 200px;
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    text-align: center;
    
    }
    
    .socialLink:hover {
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    }
    









.footerTop{
    display: flex;
    justify-content: space-between;
}
.footerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:12px;
    
}

.footerSocial ul,
.footerNav ul  {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		margin-bottom: 0;
        list-style: none;
	
}
.footerSocial li,
.footerNav li  {

	margin: 0 5px;
}
.footerSocial a svg {
    fill: #117a0e;
    transition: fill .15s ease;
}
.footerSocial a,
.footerNav a  {

		display: flex;
        color:#9CA9B3 ;
        text-decoration:none
        


}
.footerCopyright{
 margin-left: 40px;
 margin-top: 10px;
}
.footerNav a:hover  {

    color:#fff ;
}