.btn{
  display: inline-block;
  padding: 0px 48px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  outline: none !important;
  text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
}
  .primary-btn1 {
    background: #A52A2A;
    color: #f2f2f2;
    line-height: 48px;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    outline: none;
  }
  .primary-btn1:hover{
    color: #f2f2f2;
    border: 1px solid #fff;
    background:transparent;
    cursor: pointer;
    line-height: 48px;

  }
  .primary-btn2{
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    border-color: #000;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    min-width: 100px;
    background: transparent;
    color: #000;
    outline: none;
  }
  .primary-btn2:hover{
    border: 1px solid #000;
    background:transparent;
    cursor: pointer;

  }
  .primary-btn3{

    background: #250606;
    color: #f2f2f2;
    line-height: 48px;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    outline: none;

  }
  .primary-btn3:hover{
    border: 1px solid #250606;
    background:transparent;
    cursor: pointer;
    color: #250606;

  }
  .btn--facebook {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    min-width: 50px;
    background: linear-gradient(135deg,#5249ce,#1114bd);
    color: #fff;
    outline: none;
    text-align: center;
   }
   .btn--facebook:hover{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    min-width: 50px;
    background: transparent;
    color:transparent;
    outline: none;
    text-align: center;
   }