.modalContainer {
  position: fixed;
  left: 25%;
  top: 10%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
  width: 790px;
  -ms-overflow-style: none;
  display: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 53px 50px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  background-image: url(../../assets/images/card.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.headerButtons{
  position: absolute;
  right: 0%;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 40px;
  padding: 5px 0;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 5px 0 0 5px;
  z-index: 10;
}

.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}
.header >*{
  margin-bottom: 10px;
}
.shadow {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(225, 225, 225, 0.2);
}
.card{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.left, .right{
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left{
  margin-right: 40px;

}
.right {
  color: #8B4513;
  justify-content: flex-start;
  align-items: center;
  margin: 1px 0;
}

.closeIcon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}

.decorationLeft{
  position: absolute;
  z-index: 10;
  top: -5px;
  left: 0px;
}


.decorationRight{
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -2px;

}
.description{
  color: #5a2c0b;
  font-size: 17px;
  text-align: justify;
  margin: 15px 0;
}
.header span{
  color: #5a2c0b;
  font-size: 18px;
  font-weight: 700;
}
.icon{
  width: 15px;
}
.line{
  width: 100px;
  background-color: #8B4513;
  height: 1px;
  border-radius: 3px;
  
}
.topText{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}