.wrapperItem{
    display: flex;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 30%);
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    padding: 20px;
    text-align: justify;

}
.wrapperContent{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.itemInfo >*{
    margin-right: 10px;
}
.itemEdit{
    flex-direction: column;
}
.imageContainer{
    flex-direction: column;
text-align: center;
}
.imageContainer >*{
    margin-bottom: 10px;
}
.deleteButton{
    
}
.text{
    outline: none;
    resize: none;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: border,background-color,color,box-shadow;
    transition-property: border,background-color,color,box-shadow;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
    width: 95%;
    height: 300px;
    border-radius: 0.25rem;
    padding: 0.4375rem 1.125rem;
    text-align: justify;
  

}
.input, .inputMap{
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: border,background-color,color,box-shadow;
    transition-property: border,background-color,color,box-shadow;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    width: 350px;
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
    border-radius: 0.25rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.1875rem 1.125rem;
    outline: none;
}
.inputMap{
    width: 95%;
}
.mapLink{
    color: #222b45;
    text-decoration: none;
}
.buttons{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttons >*{
    width: 200px;
    margin-bottom: 10px;
}
.submit{
    letter-spacing: 0.4px;
    -webkit-transition: none;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 0.25rem;
    text-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
    text-transform: uppercase;
    padding: 0.75rem 1.1875rem;
    color: #ffffff;
    background-image: linear-gradient(to right,#2ce69b,#00d68f);
    border: none;
    box-shadow: 0 0 0 0 #00b887, 0 0 0 0 #00997a, 0 0 transparent;
}
.deleteButton{
    letter-spacing: 0.4px;
    -webkit-transition: none;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 0.25rem;
    text-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
    text-transform: uppercase;
    padding: 0.75rem 1.1875rem;
    color: #ffffff;
    background-image: linear-gradient(to right,#ff708d,#ff3d71);
    border: none;
    box-shadow: 0 0 0 0 #db2c66, 0 0 0 0 #b81d5b, 0 0 transparent;
}