
.tape{
    background-image: url(../../assets/images/tape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.tapeContainer{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 40px auto;
    


}
.arrow{
    width: 15px;
}