.game{
    background-color: #fff;
    height:100%;
    width: 100%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;


}
.game >*{
    margin-bottom: 30px;
}
.wrapperForm >*:first-child{
    margin-right: 15px;

}