
.heroContent{
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    background-image: url('../../../assets/images/1.png');


}
.hero{
    background-image: url('../../../assets/images/backgrond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    background-size: cover;
}
.heroContainer{
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.heroHeader{
    margin: 30px 30px;
    color : grey;
    font-size: 18px;
    text-align: center;
}
.mainHero{
    margin: 20px 20px;
}
.historyImage img{
    width: 20vw;
    margin-top: 10px;
}
.historyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historyDate{
    margin: 20px 20px;
    color: black;
    font-weight: 700;
    text-align: center;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-style: bold;
}
.historiesInfo{
    margin-top: 180px;
    margin-bottom: 50px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}