
.homeContainer{
    max-width: 1200px;
    margin: 20px auto;

}
.createContent{
    text-align: center;
    font-size: 25px;
}

.homeInfo{
    display: flex;
    justify-content: space-around;
    text-align: center;    
}
.createItem{
    overflow-x: hidden;
    position: relative;
    transition: all 0.2s ease;
    width: 200px;
}
.createIcon{
   padding: 15px 0 0px;
}

.icon{
    width: 73px;
    height: 70px;
}
.createText{
    padding: 30px 20px 20px;
    text-align: center;
    color: rgb(61, 37, 37);
    font-size: 16px;
    height: 70px;
}
