.wrapper{
    margin: 20px ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 100%;
    max-width: 1200px;
    border-radius: 15px;
    background: #fff ;
}
.wrapperContent{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 16px;
    text-align: center;
    margin-left: 5px;
}
.infoBlock{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}
.openBtn{
    text-align: center;
    margin: 5px 0;

}
.wrapperDescription{
    padding: 30px;
    text-align: justify;
}