.game{
        width: 100%;
        min-height: 81vh;
    font-size: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 20px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.wrapperItem{
    width: 100%;
    max-width: 900px;
    height: 450px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}
.wrraper{
    font-size: 18px;
    margin-bottom: 50px;
}
.questionText, .questionNumber{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;

}
.itemsQ{
    margin: 20px 0;
}
.questionItem{
    margin: 5px 0;
}
.nextBtn{
    text-align: center;
    width: 250px;

}