.game{
        width: 100%;
        min-height: 720px;
        position: relative;
    font-size: 17px;
    background-image: url("../../assets/images/mapGame.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.menu
{
    background-color: #f3f3f3;
    padding:43px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}