.game{
    width: 100%;
    min-height: 715px;
    position: relative;
    font-size: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6eaf91;

}
.menu
{
    background-color: #f3f3f3;
    padding:43px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}