.card{
        background-color: #fff;
        height: 100vh;
        padding-top: 120px;
        font-size: 17px;

    
}
.cardContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.wrapperImage{
    display: flex;
    padding-left: 40px;
    flex-direction: column;
}

    
.photo{
    height: 450px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 25px 50px rgb(0 0 0 / 5%);
}
.textContainer{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}


.inputItem{
    width: 550px;
    margin: 15px 0;   
    height: 20px;
    outline: none;
    padding: 5px 15px;
    border: 1px solid rgba(50,50,50,.2);
    border-radius: 8px;
}
.text{
    margin: 30px 0 20px;
    padding: 5px 15px;
    height: 200px;
    border: 1px solid rgba(50,50,50,.2);
    border-radius: 8px;
}
.sendBtn{
    text-align: center;
}

.imgInput {
    display: none;
}
.customUpload {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin:  10px;
}
.uploadIcon{
    width: 20px;
    margin: 0px 5px 0px;
}
.uploadText{
}