.splitItems{

    color: #e3e8ec;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 40px auto;
    font-weight: 400
}
.splitItem{
    padding: 20px;
    margin: 0 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.itemImg{
    width: 350px;
    height: 250px;
}
