.admin{
    padding:  2.25rem 2.25rem 0;

}
.wrapperContent{
    display: flex;
    flex-wrap: wrap;

}
.wrapperItemUser, .wrapperItemCard,
.wrapperItemHero, .wrapperItemGame{
    margin-bottom: 1.875rem;
    margin-left: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.375rem;
    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    height: 140px;
    padding: 0px 40px 0;
}
.wrapperItemUser{
    border-top: 8px solid #FFAC30  ;


}

.wrapperItemCard{
    border-top: 8px solid #864AD1 ;

}
.wrapperItemHero{
    border-top: 8px solid #43DC80  ;

}
.wrapperItemGame{
    border-top: 8px solid #4885ed ;
}
.wrapperBody{
    align-items: center;
    margin-top: 13px;
}
.number{
    font-size: 58px;
    font-weight: 700;
    margin: 0px;
    margin-top: 13px;

}
.text{
    font-size: 17px ;
    line-height: 1.5;
    font-weight: 400;
    color: #7e7e7e;
    text-align: left;
}
.icon{
    margin-top: 25px;
    width: 50px;
    
}


