
.home{
}
.homeContainer{
    max-width: 1200px;
    margin: 130px auto;
    color: #000;


}
.createContent{
    text-align: center;
    font-size: 25px;
    margin-bottom: 32px;

}

.createInfo{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    
}
.createItem{
    overflow-x: hidden;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-bottom: 30px;
}
.createIcon{
    padding: 15px 0 10px;
    border-top: 1px solid rgb(90, 85, 85);
    border-right: 1px solid  rgb(90, 85, 85);;
    border-left: 1px solid  rgb(90, 85, 85);;
    border-radius: 10px 10px 0px 0px;
   
}
.icon{
    width: 200px;
    height: 150px;
}
.createText{
    padding: 30px 20px 20px;
    text-align: center;
    border-bottom: 1px solid  rgb(90, 85, 85);;
    border-right: 1px solid  rgb(90, 85, 85);;
    border-left: 1px solid  rgb(90, 85, 85);;
    color: black;
    font-size: 20px
   
}
