.home{
    background-image: url('../../../assets/images/hom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeContainer{
    max-width: 1200px;
    padding: 10%;
    padding-top: 10px;
}
.navContainer{
    padding: 5px 10%;

    
    display: flex;
    justify-content:space-around;
}
.homeLogo{
    color:#7fbe41;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;


}
.navLogo{
    width: 200px;
}
.mainImg{
    height: 230px;
}
.logoBtn{
    margin-top: 20px;
}

.homeBannerContainer{
    margin-bottom: 24px;
    height: 300px;
    position: relative;
    overflow: hidden; 
}
.homeBannerContainer img{
    top: 40%;
    width: 100%;
    transform: translate(0%, -10%); 
    margin-bottom: 40px;
}

.homeBanner{
   
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}
.mainContent{
    width: 100%;
    background-color: #fff;
    margin: 40px 0;
    padding: 30px 0;

}

.gitIcon{
    width: 25px;
    margin: 5px 5px;
  
   
}
.headerContent{
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;

}

.mainInfo{
    text-align: center;
    margin: 10px 60px;
    color: #000;
    font-size: 18px;    
}
.mainDashboard{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.createIcon{
    width: 50px;
}
.mainItem{
    text-align: center;
    margin: 30px 30px;
}
.mainItem img{
    width: 310px;
    margin: 20px 0;

}
.mainItem img:hover {
    transform: scale(1.2); 
    transition: 1s;
   }
.mainLinks{
    color: #000;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.mainText{
    text-align: justify;
    text-indent: 50px;
    font-style: italic;
}
.createContent{
    text-align: center;
    font-size: 25px;

}
.createInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
}
.createItem{
    width: 150px;
}
.line img{
    width: 150px;
    margin: 0 20px;
}

@media (max-width:1276px){
    .mainItem{
        margin: 30px 10px;
    }
    .mainItem img{
        width: 290px;
        
    
    }

}
@media (max-width:1106px){
    .mainDashboard{
        display: block;
    
    }
    .mainItem img{
        width: 350px;
        
    
    }

}
@media (max-width:835px){
    .createInfo{
        justify-content: space-around;
        margin: 40px 40px;
    }

    .createItem{
        width: 120px;
        font-size: 15px;
    }
}

@media (max-width:767px){
    .createInfo{
        display: block;
        align-items: center;
        
    }

    .createItem{
        width: 120px;
        font-size: 15px;
        justify-self: center;
        margin-left: 36%;
    }
    .createContent{
        font-size: 25px;
        margin: 0 10px;
    }
}

@media (max-width: 640px){
    .homeLogo{
        font-size: 22px;
    }
    .headerContent{
        margin: 0 60px;
    }
}
@media (max-width:529px){
    .mainItem img{
        width: 200px;
        margin: 20px 0;
        height: 200px;
    
    }
}

@media (max-width:358px){
    .createItem{
        width: 100px;
        font-size: 15px;
        justify-self: center;
       
    }
}

