.footer{
    background-color: #2d3029;
    color: #fff;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;

}

.footerHeader{
    width: 254px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;

}
.footerLogo{
    width: 120px;
    margin-bottom: 20px;
}
.downloadText {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
    
}
.footerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footerLinks{
    width: 254px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}
.footerLinks .footerLink{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;

}
.contactUs{
    color: #fff;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 900;
}
.contactEmail{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
}
.footerCopyright{
    padding: 20px 0 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.fqa{
    color: #fff;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 900;
}
.fqaItems {
    color: #fff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
}
.footerIcon{
    margin-right: 20px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
    opacity: .5;

}