.header{
    background-color: #fff;
    position: fixed;
    height: 80px;
    width: calc(100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1040;
}

.container{
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    justify-content: space-between;
    color: #222b45;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    padding: 20px 30px;
}
.icon, .adminIcon{
    width: 25px;
    padding-right: 10px;
}

.wrapperMenu {
    display: flex;
    background-color: transparent;
    color: #222b45;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
}
.wrapperUser{
    display: flex;
    background-color: transparent;
    color: #222b45;
    font-weight: 700;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapperText, .wrapperSelector, .userBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 0 20px;
    border-left: 1px solid #edf1f7;
    border-right: 1px solid #edf1f7;
    background: transparent;
    width: 100%;
    text-align: center;
    margin: 0 10px;
    height: 100%;

}
.wrapperText{
justify-content: center;
}
.userBlock{
    border-right: none;

}
