.dashboard{
    background: url(../../assets/images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dashboardContainer{
    padding: 50px 0 0 0px;
    max-width: 1250px;
    margin: 0 auto;
}

.dashboardContent{
    width: 100%;
    /* background-color: rgb(154, 205, 236);
    border: 2px solid rgb(40, 141, 203); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px;

}
.dashboardItem{
    width: 230px;
    height: 400px;
    background: #FFFF;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 0.5);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px 40px;
    margin-right: 90px;
}

.portraitIcon{
    width: 210px;
    height: 270px;
}
.dashboardItem:hover{
    box-shadow: 0px 0px 30px rgb(153 153 153 / 50%);
}
 .text{
    transition: all 0.3s ease 0.1s;
    cursor: pointer;
  
 }
 .textContainer p{
     margin: 3px 0 0;
     text-align: center;
 }
 .textContainer{
     margin: 5px 0 0;
     height: 80px;
 }
 .text a{

    list-style: none;
    text-decoration: none;
    color: black;
 }

 @media (max-width:1500px){

 }