.item{
    margin: 30px 0;   
    height: 60px;
}
.inputContainer{
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 20px 0 20px;
    display: flex;
}
.inputIcon{
    width: 15px;
    border: none;

}
.input{
    outline: none;
    padding: 5px 15px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
}
.inputErrors{
    color: rgb(253, 22, 22);
    text-align: left;
    align-items: flex-start;
    font-size: 10px;
    margin-left: 20px;
   
}

