.item{
    margin: 10px 0;   
    height: 60px;
}
.inputContainer{
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
}

.input{
    outline: none;
    padding: 5px 15px;
    width: 100%;
    border: 1px solid rgba(50,50,50,.2);
    border-radius: 8px;
}
.inputErrors{
    color: rgb(253, 22, 22);
    text-align: left;
    align-items: flex-start;
    font-size: 10px;
    margin-left: 20px;
   
}

