.home{
    display: table;
    width: 100%;
    padding: 0;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.homeOverlay{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;

}
.homeContainer{
    max-width: 1200px;
    margin: 0px auto;

}
.homeMain{
    color: #fff;
    padding-top: 350px;
    padding-bottom: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;



}
.homeMainTitle{
    color: #fff;
    font-size: 4rem;
}
.homeCarusel{
    height: 60px;
    width: 100%;
}
.homeTop{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid #40db3b;
}
.textAfter{
    margin:30px 0;
}
.social{
  margin: 30px 0;
}
.readBtn{
    margin: auto;


}
.fullText{
    width: 500px;
    text-align: center;
    font-size: 18px;
    margin-right: 50px;
    color: #fff;
}
.text  {
    text-align: justify;
    text-indent: 50px;
}
.video {
    margin: 10px 0;
   
}
.videoIcon{
    width: 100%;
    height: 80%;

}

@media (max-width:2000px) {
    .homeMain{
                padding-top: 150px;
    }
    
}