.header{
    position: fixed;
    
    z-index: 1030;
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    width: calc(100%);
    height: 81px;
    transition: all 0.8s;
    border-width: 0 0 1px;


}

.container{
    max-width: 1200px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.logoContent{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #333;
    text-transform: uppercase;
}

.userBlock{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.mainLinks{
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 2px;
    border-radius: 0;
    position: relative;
    width: 150px;

    transition: all 2s;

}

.navItems {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}


.user{
    font-size: 14px;
    color: #2D3029;
    margin-right: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  
}

.userInfo{
    border: 2px solid  #5ca9fb ;
    width: 100%;
    height: 25px;
    min-width: 150px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.mainLinks:after,
.mainLinks:before {
    transition: all 0.5s;
    opacity: 0;
 

}
.mainLinks::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #5ca9fb ;
    height: 1px;
}

.mainLinks:hover{
    color: black;
}
.mainLinks:hover:after {
    width: 100%;
  }
.mainLinks:hover:after {
    z-index: -10;
    animation: fill 0.51s forwards;
    -webkit-animation: fill 0.51s forwards;
    -moz-animation: fill 0.51s forwards;
    opacity: 1;
  }