.navBar{
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 16rem;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    z-index: auto;
    -webkit-transition: width 0.3s cubic-bezier(0.4,0,0.6,1) 0ms;
    transition: width 0.3s cubic-bezier(0.4,0,0.6,1) 0ms;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    width: 16rem;
    height: calc(100vh);
    position: fixed;
    margin-top: 4.75rem;
}

.navbarHeader{
   
    display: block;
    height: 3.5rem;
    padding: 1.25rem;
}
.rectangle{
    letter-spacing: 0.4px;
    transition: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    padding: 0.3125rem 0.625rem;
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
}
.navMenu{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.navLinks{
    text-decoration: none;
    border-bottom:  1px solid #edf1f7;
    cursor: pointer

}
.linkMain, .linkMainWithout{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
 
    padding: 12px 20px;

}
.linkMainWithout{
    border-bottom:  1px solid #edf1f7;
    cursor: pointer;

}
.navText{
    justify-content: flex-start;
    display: flex;
}
.icon{
    margin-right: 5px;
    margin-top: 1px;
    cursor: pointer;

}
.dropDown{
    display: flex;
    flex-direction: column;
    margin: 3px 0 0;
    text-decoration: none;
    list-style-type: none;
    color: #222b45;
    text-decoration: none;
    transition: max-height 2s cubic-bezier(1,0.15,1,1);
}
.dropItem{
    text-decoration: none;
    list-style-type: none;
    padding: 10px 0;
    color: #222b45;


}
.dropItem:first-child{
    border-bottom:  1px solid #edf1f7;

}
@media screen and (max-width: 991px) {
  
    .navBar{
        display: flex;
        z-index: 0;
        top:100px;
        width: 100%;
        overflow-y: auto;
        margin-top:60px;
        padding-top: 40px;   
    }
    .navItem, .navLastItem{
        font-size: 17px;
    }
    .navMenu{
        width: 100%;
    }
  }