.navBar{
    overflow-y: auto;
    position: fixed;
    width: 284px;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-color);
    -webkit-transition: background-color .2s ease,margin .2s ease;
    transition: background-color .2s ease,margin .2s ease;
}

.navBarLogo {
    width: 130px;
}
.navbarHeader{
    cursor: pointer;
    display: flex;
    height: 120px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    background-color: #feb049;
    font-size: 30px;
    width: 100%;
    font-weight: 300;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    color: var(--logo-color);
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navMenu  .navLink:hover{
    background: #f3f3f3;
    transition: all 0.2ms ease-out;
    padding: 10px;
    color: black;
    margin-left: 30px;
    
}
.navLink  {
    cursor: pointer;
    padding: 10px;
    color: rgb(44, 43, 43);
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    height: 25px;
}
 
.navBarIcon{
    height: 21px;
    width: 21px;
    margin-right: 16px;
}

