.wrapper{
    padding:  2.25rem  2.25rem   0;

}

.wrapperContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.wrapperContainer >*{
    margin-right: 30px;
}
.textContainer{
    display: flex;
    flex-direction: column;   
    margin: 0 20px;
    width: 95%;

}
.textContainer >*{
    margin: 10px 0;
}

.inputItem, .inputItemQ, .inputItemR{
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: border,background-color,color,box-shadow;
    transition-property: border,background-color,color,box-shadow;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    outline: none;
    background-color: #f7f9fc;
    border-color: #ffaa00;
    color: #222b45;
    height: 30px;
    border-radius: 0.25rem;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 10px;
    width: 95%;
  }
  .inputItemQ{
    background-color: #f7f9fc;
    border-color: #0095ff;
        color: #222b45;
  }
  .inputItemR{
    background-color: #f7f9fc;
    border-color: #00d68f;
    color: #222b45;   
  }
  .wrapperQuestion{
    display: flex;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    color: #222b45;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    height: 100%;
    min-height: 300px;
  }
  .title{
      align-items: center;
      text-align: center;
      font-size: 22px;
      color: #222b45;
      font-weight: 700;
      line-height: 19px;
      font-family: 'Future Heavy';
      padding: 10px 0;
      border-bottom: 1px solid #222b45;
  }
  .textItem{
      width: 100%;

  }
  .text{
      font-family: 'Future Book';
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
  }
  .submit{
     
      width: 250px;
      height: 30px;
      margin: 20px 0;
  }
  .input{
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: border,background-color,color,box-shadow;
    transition-property: border,background-color,color,box-shadow;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    width: 100%;
    background-color: #f7f9fc;
    border-color: #0095ff;
    color: #222b45;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1.125rem;
    outline: none;
  }

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.header >*{
    margin-right: 50px;
}
.inputError{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100px;
}
.inputError >*:last-child{
    margin-top: 10px;

}
.error{
    color: red;
    font-size: 15px;
    margin-left: 15px;
    font-weight: 300;
    font-family: 'Future Book';
    z-index: 10;
}
.submit{
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 30px ;
}
.item{
    display: flex;
    justify-content: space-between;
}