.footer{
    padding: 20px 0;
    background-color: transparent;
    background-image: url(../../assets/images/hom.jpg);

}


.container{
    margin: 0 auto;
    max-width: 1200px;
    
}
.footerHeader{
    padding-bottom: 20px;
    text-transform:uppercase ;
    color: #000;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
   
}
.adminIcon{
    margin-top: 5px;
    width: 25px;
}
.footerHeader hr{
    width: 100px;
    height: 0px;
    background-color: #000;
    border: 2px solid #000;
}
.footerItems{
    display: flex;
    justify-content: center;
}

.footerItem{
    padding: 20px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 15px;
    width: 350px;
    height: 130px;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

    border: 1px solid rgb(225, 225, 225, 6);
    color: rgb(53, 50, 50);

}
.social{
    display: flex;
    justify-content: space-between;
}
.footerItem h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;

}


.text{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: justify;

}

.socialLink {
    color: #fff;
    background-color:#000;
    border: 2px solid #000;
    width: 100%;
    height: 15px;
    max-width: 190px;
    list-style: none;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    
    }
    
    .socialLink:hover {
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    }
    



.contacts h4{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;

}
.copy{
    font-size: 17px;
    text-align: justify;
}




.footerTop{
    display: flex;
    justify-content: space-between;
}
.footerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:12px;
    
}

.footerSocial ul,
.footerNav ul  {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		margin-bottom: 0;
        list-style: none;
	
}
.footerSocial li,
.footerNav li  {

	margin: 0 5px;
}
.footerSocial a svg {
    fill: #117a0e;
    transition: fill .15s ease;
}
.footerSocial a,
.footerNav a  {

		display: flex;
        color:#9CA9B3 ;
        text-decoration:none
        


}
.footerCopyright{
 margin-left: 40px;
 margin-top: 10px;
}
.footerNav a:hover  {

    color:#fff ;
}

@media (max-width:1120px){
    .footerItem{
      
        height: 150px;
  
    
    }
}
@media (max-width:900px){
    .footerItems{
        flex-direction: column;
        width: 90%;
        margin-right: 10px;
    }
    
.footerItem{
  
    margin: 0 15px 20px;
    width: 100%;
    height: 120px;
   

}
}