.card{
        background-color: #fff;
        height: 100vh;
        padding-top: 120px;

    
}
.cardContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    height: 60vh;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 25px 65px rgb(0 0 0 / 10%);
}
.textContainer{
    margin-top: 0px;
    margin-left: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
}
.description{
   
    display: block;
}
.textareaItemFirst{
    height:  210px;
    width: 450px;
    border-radius:8px ;
    border: 1px solid black;
    padding: 15px;
    margin: 20px 20px;   
    outline: none;
    resize: none;
}
.sendBtn{
    margin: 20px 150px;  
    display: flex;
    justify-self: center;

}
